{% load static %}
    <div class="grid-col-4">
      <ul class="usa-card-group margin-left-1px">
        <li class="tablet:grid-col-12 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading text-center"><a class="text-ink" href="http://bit.ly/highcenbugtv" target="_blank">Digital Ocean</a></h2>
            </header>
            <div class="usa-card__media padding-05">
              <div class="usa-card__img bg-white height-15 width-15 margin-left-auto margin-right-auto">
                <a href="http://bit.ly/highcenbugtv" target="_blank"><img src="{% static 'icons/DO_Logo_Vertical_Blue.png' %}" alt="Digital Ocean"></a>
              </div>
            </div>
            <div class="usa-card__body">
              <p class="text-center"><a class="text-ink" href="http://bit.ly/highcenbugtv" target="_blank">Try Digital Ocean and get $100 in credits for 2 months!</a></p>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-12 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading text-center">icons8</h2>
            </header>
            <div class="usa-card__media padding-05">
              <div class="usa-card__img height-10 width-10 margin-left-auto margin-right-auto">
                <a href="https://icons8.com" target="_blank"><img class="" src="{% static 'icons/icons8.jpg' %}" alt="icons8.com"></a>
              </div>
            </div>
            <div class="usa-card__body">
              <p class="text-center">All icons are from <a href="https://icons8.com" class="text-ink" target="_blank">icons8.com</a></p>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-12 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading text-center">unDraw</h2>
            </header>
            <div class="usa-card__media padding-05">
              <div class="usa-card__img height-15 width-15 margin-left-auto margin-right-auto">
                <a href="https://undraw.co" target="_blank"><img src="{% static 'icons/undraw.jpg' %}" alt="undraw.co"></a>
              </div>
            </div>
            <div class="usa-card__body">
              <p class="text-center">Header image on homepage from <a href="https://undraw.co" class="text-ink" target="_blank">unDraw.co</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>